body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 40vh;
  font-size: 40px;
  text-shadow: 0 0 10px black;
}
